* {
  background-color: 615FE8;
  box-sizing: border-boxn;
}
form > h1 {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 700px;
  text-align: center;
  text-shadow: 2px 2px 2px wheat;
}

form {
  background: linear-gradient(black, rgb(126, 207, 224));
  font-size: 50px white;
  background-color: 615FE8;
  width: 100%;
  max-width: 700px;
  padding: 150px 30px 30px;
  border-radius: 10px;
  color: azure;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  border: 2px solid grey;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 100%;
}
button {
  background: transparent;
  border: 2px solid #85cce3;
  font-size: 16px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  border-radius: 5px;
  transition: 0.3s ease all;
  cursor: pointer;
}
button:hover {
  background-color: #18353e;
  color: white;
}
#result {
  text-align: center;
  font-size: 30px;
}

footer {
  text-align: center;
}
