
h1{
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    max-width: 700px;
    text-align: center;
}
p{
    color: rgb(6, 82, 82);
    background-color: gainsboro;
    width: 100%;
    max-width: 700px;
    text-align: center;
}
#form{
    background-color: antiquewhite;
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px;
    border-radius: 10px;
    top: -150px;
}


.logo{
    width: 40px;
    height: 60x;
}
img {
    height: 100%;
    width: 100%;
  }

  input[type="text"]
{
  border: 2px solid grey;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 100%;
}
button{
    border: 2px solid rgb(196, 39, 91);
    font-size: 16px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    border-radius: 5px;
    transition: .3s ease all;
}

input[type="button"]:hover, input[type="button"]:focus {
    background-color: red;
  }